<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AmazonCheckoutTests">

	<listeners>
		<listener class-name="com.listeners.ListenerClass" />
	</listeners>

	<test name="CheckoutTests">
		<classes>
			<class name="com.amazon.tests.AddToCartTest" />
			<class name="com.amazon.tests.UpdateShippingInfoTest" />
			<class name="com.amazon.tests.RemoveFromCartTest" />
			<class name="com.amazon.tests.NegativeTest" />
		</classes>
	</test>

</suite>
